@media only screen and (min-width: 640px) {
	.entry-content > .wp-block-group.has-background {
		padding: 2rem;
	}

	.entry-content > .wp-block-group.alignwide,
	.entry-content > .wp-block-group.alignfull {
		padding-left: 2rem;
		padding-right: 2rem;
	}
}

@media only screen and (min-width: 960px) {
	.entry-content > .wp-block-group.has-background {
		padding: 3rem;
	}

	.entry-content > .wp-block-group.alignwide,
	.entry-content > .wp-block-group.alignfull {
		padding-left: 3rem;
		padding-right: 3rem;
	}
}

@media only screen and (min-width: 1280px) {
	.entry-content > .wp-block-group.has-background {
		padding: 4rem;
	}

	.entry-content > .wp-block-group.alignwide,
	.entry-content > .wp-block-group.alignfull {
		padding-left: 4rem;
		padding-right: 4rem;
	}
}
