/*
 * Block Editor Styles
 *
 * @package GT Workout
 */
:root {
	--link-color: #ee3333;
	--link-hover-color: #282828;
	--button-color: #ee3333;
	--button-text-color: #fff;
	--button-hover-color: #282828;
	--button-hover-text-color: #fff;
	--header-background-color: #282828;
	--header-text-color: #fff;
	--header-hover-text-color: rgba(255, 255, 255, 0.5);
	--header-border-color: rgba(255, 255, 255, 0.05);
	--navi-text-color: #fff;
	--navi-bg-color: #ee3333;
	--submenu-color: #383838;
	--submenu-text-color: #fff;
	--submenu-hover-text-color: rgba(255, 255, 255, 0.5);
	--title-color: #282828;
	--title-hover-color: #ee3333;
	--footer-color: #282828;
	--footer-text-color: #fff;
	--footer-hover-text-color: rgba(255, 255, 255, 0.5);
	--footer-border-color: rgba(255, 255, 255, 0.035);
	--block-primary-color: #ee3333;
	--block-secondary-color: #ea8867;
	--block-accent-color: #f2e97e;
	--block-complementary-color: #1b8fb8;
	--text-font: Raleway, Arial, Helvetica;
	--title-font: "Fira Sans", Tahoma, Arial;
	--title-font-weight: bold;
	--title-text-transform: uppercase;
	--navi-font: "Fira Sans", Tahoma, Arial;
	--navi-font-weight: bold;
	--navi-text-transform: uppercase;
}

/* Post and Page Title */
body.gutenberg-editor-page .editor-post-title__block .editor-post-title__input {
	font-size: 36px;
	font-size: 2.25rem;
	font-family: "Fira Sans", Tahoma, Arial;
	font-family: var(--title-font);
	font-weight: bold;
	font-weight: var(--title-font-weight);
	text-transform: uppercase;
	text-transform: var(--title-text-transform);
	line-height: 1.4;
}

/* Page Layouts */
body.gt-wide-page-layout.gutenberg-editor-page .editor-post-title__block,
body.gt-wide-page-layout.gutenberg-editor-page .editor-default-block-appender,
body.gt-wide-page-layout.gutenberg-editor-page .editor-block-list__block {
	max-width: calc( 960px + 30px);
}

body.gt-fullwidth-page-layout.gutenberg-editor-page .editor-post-title__block,
body.gt-fullwidth-page-layout.gutenberg-editor-page .editor-default-block-appender,
body.gt-fullwidth-page-layout.gutenberg-editor-page .editor-block-list__block {
	max-width: calc( 1200px + 30px);
}

/* Wide and Fullwidth Blocks */
body.gutenberg-editor-page .editor-block-list__block[data-align="wide"] {
	max-width: calc( 960px + 30px);
}

body.gutenberg-editor-page .editor-block-list__block[data-align="full"] {
	max-width: none;
}

/* Hidden Page Title */
body.gt-page-title-hidden.gutenberg-editor-page .edit-post-visual-editor .editor-post-title {
	background-color: #fff;
	background-image: linear-gradient(45deg, #ddd 25%, transparent 25%, transparent 75%, #ddd 75%, #ddd), linear-gradient(45deg, #ddd 25%, transparent 25%, transparent 75%, #ddd 75%, #ddd);
	background-size: 20px 20px;
	background-position: 0 0, 10px 10px;
}

/* GT Buttons */
.is-style-gt-button a {
	display: inline-block;
	padding: 0.4rem 1rem;
	color: #fff;
	color: var(--button-text-color);
	background-color: #ee3333;
	background-color: var(--button-color);
	font-size: 15px;
	font-size: 0.9375rem;
	border-radius: 0.5rem;
}

.is-style-gt-button a:link,
.is-style-gt-button a:visited {
	color: #fff;
	color: var(--button-text-color);
	text-decoration: none;
}

.is-style-gt-button a:hover,
.is-style-gt-button a:active {
	color: #fff;
	color: var(--button-hover-text-color);
	background-color: #282828;
	background-color: var(--button-hover-color);
	text-decoration: none;
}

/* GT Headings */
h2.is-style-gt-heading-large {
	font-size: 40px;
	font-size: 2.5rem;
	text-transform: uppercase;
}

/* Block Text Colors */
.has-primary-color {
	color: #ee3333;
	color: var(--block-primary-color);
}

.has-secondary-color {
	color: #ea8867;
	color: var(--block-secondary-color);
}

.has-accent-color {
	color: #f2e97e;
	color: var(--block-accent-color);
}

.has-complementary-color {
	color: #1b8fb8;
	color: var(--block-complementary-color);
}

.has-white-color {
	color: #ffffff;
}

.has-light-gray-color {
	color: #e5e5e5;
}

.has-dark-gray-color {
	color: #555555;
}

.has-black-color {
	color: #242424;
}

/* Block Background Colors */
.has-primary-background-color {
	background-color: #ee3333;
	background-color: var(--block-primary-color);
}

.has-secondary-background-color {
	background-color: #ea8867;
	background-color: var(--block-secondary-color);
}

.has-accent-background-color {
	background-color: #f2e97e;
	background-color: var(--block-accent-color);
}

.has-complementary-background-color {
	background-color: #1b8fb8;
	background-color: var(--block-complementary-color);
}

.has-white-background-color {
	background-color: #ffffff;
}

.has-light-gray-background-color {
	background-color: #e5e5e5;
}

.has-dark-gray-background-color {
	background-color: #555555;
}

.has-black-background-color {
	background-color: #242424;
}

/* Block Font Sizes */
.has-small-font-size {
	font-size: 16px;
}

.has-medium-font-size {
	font-size: 20px;
}

.has-large-font-size {
	font-size: 24px;
}

.has-extra-large-font-size {
	font-size: 36px;
}
